
div {
	border-radius: 5px;
	border: 2px solid DarkSlateGray;
	background-color: White;
	height:20px;
	width: 120px;
	margin: auto;
	
} 
#HT {

font-family: Arial;
font-size: 40px;
color: white;
}


a {
	text-decoration: none;
	color: blue;
	font-family: Verdana, sans-serif;
}


body {

	margin: auto;
	text-align: center;
	width: 100%;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
	color:white;
	
}

h1{
	color:white;
	font-size: 15px;
	font-family:Arial;
}

h2{
	color:white;
	font-size: 15px;
	font-family:Arial;
}
h3{
	color:white;
	font-size: 15px;
	font-family:Arial;
}
h4{
	color:white;
	font-size: 15px;
	font-family:Arial;
}
h5{
	color:white;
	font-size: 15px;
	font-family:Arial;
}
h6{
	color:white;
	font-size:15px;
	font-family:Arial;	
}
p{ 

	
	text-decoration: none;
	color: #EFEFEF;
	font-family: arial;
	font-size: 16px;
	text-align: justify;
}
