
div {
	border-radius: 5px;
	border: 2px solid DarkSlateGray;
	background-color: black;
	height:20px;
	width: 120px;
	margin: auto;
	
} 
#HT {
margin-top: 60px;
font-family: Arial;
font-size: 40px;
color: white;
}
#PAR{
	margin-left: 9em;	
}

a {
	text-decoration: none;
	color: white;
	font-family: Verdana, sans-serif;
}


body {

	margin: auto;
	text-align: center;
	width: 100%;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
	
}
p{ 

	
	text-decoration: none;
	color: white;
	font-family: arial;
	font-size: 16px;
	margin-left: 5em;
	text-align: justify;
}
